
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    font-family:Arial, Helvetica, sans-serif 
}

.item {
    height: 50px;
    width: 70%;
    border-radius: 25px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px) translateX(-50%) scale(0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 
        opacity, transform 0.8s cubic-bezier(0.4, 1.2, 0.8, 1),  /*overshoot ve undershoot efektleri*/
        box-shadow 0.4s ease,
        filter 0.4s ease;
}
.item.show {
    opacity: 1;
    transform: translateY(0) translateX(0) scale(1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    filter: brightness(1.2);
}